<app-logo [theme]="theme" *ngIf="!showFileUpload" ></app-logo>
<amplify-authenticator>
  <ng-template
    amplifySlot="authenticated"
    let-user="user"
    let-signOut="signOut"
  >
    <app-nav-bar [theme]="theme" (themeChange)="setTheme($event)" [signOut]="signOut"></app-nav-bar>
    <app-file-upload
      [selectedFile]="selectedFile"
      [uploadStatus]="uploadStatus"
      [onFileSelectedInput]="onFileSelected.bind(this)"
      [uploadFile]="uploadFile.bind(this)"
      [theme]="theme"
    ></app-file-upload>
  </ng-template>
</amplify-authenticator>