<amplify-authenticator>
  <ng-template amplifySlot="header">
    <app-logo [theme]="theme"></app-logo>
  </ng-template>
  <ng-template
    amplifySlot="authenticated"
    let-user="user"
    let-signOut="signOut"
  >
    <app-nav-bar [theme]="theme" (themeChange)="setTheme($event)" [signOut]="signOut"></app-nav-bar>
    <app-file-upload
      [selectedFile]="selectedFile"
      [uploadStatus]="uploadStatus"
      [onFileSelectedInput]="onFileSelected.bind(this)"
      [theme]="theme"
    ></app-file-upload>
  </ng-template>
</amplify-authenticator>